{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "requirePragma": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "importOrder": [
    "^react",
    "^@components/(.*)$",
    "^@data/(.*)$",
    "^@hooks/(.*)$",
    "^@pages/(.*)$",
    "^@services/(.*)$",
    "^@store/(.*)$",
    "^@typings/(.*)$",
    "^@utils/(.*)$",
    "^@fortawesome/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
