#navigation {
  z-index: 999;
}

.avatar {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

main {
  padding-top: 100px;
}

.card {
  min-width: 200px;
  min-height: 260px;
  transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
}

.card:hover {
  translate: 0 -5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.show-more, .add-track {
  width: 107px;
  height: 40px;
}