#navigation {
  z-index: 999;
}

main {
  padding-top: 100px;
}

.sign-in {
  margin-right: 5px;
}

.avatar {
  width: 19px;
  height: 19px;
}

.card {
  min-width: 200px;
  min-height: 260px;
  transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
}

.card:hover {
  translate: 0 -5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.show-more,
.add-track {
  width: 115px;
  height: 40px;
}

footer {
  padding-bottom: 60px;
  padding-top: 10px;
}
